extends layout

block content
    form(method="POST")
        .row
            .large-2.large-offset-5.columns
                input#run_selenium.menu.button.secondary(type="submit",value="test")
        .row
            h1= test_status